html {
    font-size: 22px;
}

body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: sans-serif;

}
h1 {
    text-align: center;
}
a {
    color: #00ADB5;
}
a:hover {
    color: #04c3cc;
}
a:visited {
    color: #00666b;
}
figure.dragon {
    float: left;
}
footer {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 5px;
}